@font-face {
  font-family: "Codec Pro";
  src: url("CodecPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Codec Pro ExtraBold";
  src: url("CodecPro-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Codec Pro Bold";
  src: url("CodecPro-Bold.ttf") format("truetype");
}

html {
  background: rgb(16, 23, 40);
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

#company_name,
h1,
a,
.main_text,
.sec_main_text,
.third_main_text,
.fourth_main_text,
.company_name_one,
.connect {
  color: rgb(255, 255, 255);
  font-family: "Codec Pro ExtraBold";
  src: url("CodecPro-ExtraBold.ttf") format("truetype");
}

.logo,
.logo_one {
  width: 80px;
  height: 80px;
  max-width: 100px;
  max-height: 100px;
  margin: 40px 0 0 100px;
}

#company_name,
.company_name_one {
  font-size: 35px;
  font-weight: 650;
  display: block;
  margin: 65px 0 0 15px;
  vertical-align: top;
  display: inline-block;
}

h1,
.main_text,
.sec_main_text,
.third_main_text,
.fourth_main_text {
  font-weight: 790;
}

.more_button,
.top_button {
  background: linear-gradient(
    90deg,
    rgba(119, 63, 192, 1) 1%,
    rgba(197, 31, 218, 1) 30%,
    rgba(255, 36, 201, 1) 65%,
    rgba(255, 25, 67, 1) 100%
  );
  border: none;
  border-radius: 60px;
  cursor: pointer;
}

.main_text,
.sec_main_text,
.third_main_text,
.fourth_main_text {
  font-size: 90px;
  line-height: 100px;
}

.sub_text,
.sec_sub_text,
.third_text,
.third_text_one {
  font-family: "Codec Pro Bold";
  src: url("CodecPro-Light.ttf") format("truetype");
  color: rgb(255, 255, 255);
}

.sub_text,
.sec_sub_text,
.sec_txt_one,
.third_text,
.third_text_one,
.fourth_text,
.fourth_text_one,
.fourth_text_two {
  font-size: 33px;
  font-weight: 500;
  line-height: 50px;
  font-family: "Codec Pro Bold";
  src: url("CodecPro-Light.ttf") format("truetype");
  color: rgb(255, 255, 255);
}

.sec_txt_one,
.third_text_one {
  width: 700px;
}

.third_text,
.fourth_text_one {
  width: 600px;
}

.more_button:hover,
.top_button:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 25, 67, 1) 1%,
    rgba(255, 36, 201, 1) 30%,
    rgba(197, 31, 218, 1) 65%,
    rgba(119, 63, 192, 1) 100%
  );
}

.more_button:active,
.top_button:active {
  background: linear-gradient(
    90deg,
    rgba(119, 63, 192, 1) 1%,
    rgba(197, 31, 218, 1) 30%,
    rgba(255, 36, 201, 1) 65%,
    rgba(255, 25, 67, 1) 100%
  );
}

.number,
.address,
.mail {
  font-family: "Codec Pro";
  src: url("CodecPro-Light.ttf") format("truetype");
  font-size: 33px;
  font-weight: 480;
  line-height: 55px;
  margin-left: 1107px;
  color: rgb(255, 255, 255);
}

.linkdin,
.ig,
.fb,
.twitter {
  display: flex;
  cursor: pointer;
  border-radius: 16px;
}

.main_img {
  max-width: 800px;
  max-height: 700px;
  height: 100%;
  display: flex;
  margin: 230px 0 0 625px;
  padding: 0px 450px;
  position: absolute;
}

.lens_flare {
  max-width: 1000px;
  height: 100%;
  display: flex;
  margin: -750px 0 0 540px;
  padding: 110px 325px;
  position: none;
}

h1 {
  text-shadow: 0 0 7px rgb(30, 55, 162), 0 0 10px rgb(30, 55, 162),
    0 0 21px rgb(30, 55, 162), 0 0 42px rgb(30, 55, 162);
  font-size: 120px;
  width: 700px;
  line-height: 150px;
}

.heading {
  margin: 90px 0 0 100px;
  display: flex;
}

.more_button {
  padding: 8px 35px;
  display: flex;
  margin: -380px 100px;
}

a {
  font-family: "Codec Pro";
  text-shadow: 3px 3px 5px rgb(16, 23, 40);
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  padding: 8px 10px 8px 10px;
  font-weight: 500;
}

.break_line {
  background: linear-gradient(
    90deg,
    rgba(119, 63, 192, 1) 1%,
    rgba(197, 31, 218, 1) 30%,
    rgba(255, 36, 201, 1) 65%,
    rgba(255, 25, 67, 1) 100%
  );
  height: 10px;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 630px 500px 0 500px;
}

.main_text {
  text-align: center;
  margin: 100px;
}

.text_color {
  color: rgb(147, 64, 255);
}

.sub_text {
  text-align: center;
  font-size: 34px;
  margin-top: 100px;
  margin-bottom: -500px;
}

.sec_main_text {
  margin: 130px 0 100px 100px;
  width: 700px;
}

.sec_sub_text {
  margin: 0px 100px;
}

.sec_txt {
  margin-bottom: 60px;
}

.sec_img {
  max-width: 800px;
  max-height: 700px;
  height: 100%;
  display: flex;
  margin: -500px 0 -500px 625px;
  padding: 0px 450px;
}

.third_main_text {
  margin: 120px 0px 100px 1020px;
  width: 900px;
}

.third_text {
  margin: 0px 0px 50px 1019px;
}

.third_text_one {
  margin: 0px 0px 0px 1019px;
}

.third_img {
  max-width: 800px;
  max-height: 700px;
  height: 100%;
  display: flex;
  margin: -450px 0 -510px 150px;
}

.fourth_main_text {
  margin: 140px 0 100px 100px;
  width: 800px;
}

.fourth_text {
  width: 600px;
  margin: 0px 0px 50px 100px;
}

.fourth_text_one {
  margin: 0px 0px 0px 100px;
}

.fourth_text_two {
  margin: 0 100px;
}

.fourth_img {
  max-width: 800px;
  max-height: 700px;
  height: 100%;
  display: flex;
  margin: -600px 0 -400px 625px;
  padding: 0px 450px;
}

.logo_one {
  margin: 110px 0 0 100px;
}

.company_name_one {
  margin: 133px 0 0 15px;
}

.connect {
  text-align: center;
  margin: -90px 0px 100px 840px;
  font-size: 90px;
  font-weight: 790;
  width: 900px;
  line-height: 100px;
}

.number {
  margin-top: -60px;
}

.mail {
  margin-bottom: 320px;
}

.linkdin {
  width: 61px;
  height: 61px;
  margin: -225px 0 300px 1105px;
}

.linkdin:hover {
  background-color: rgb(12, 100, 197);
  -webkit-box-shadow: 0 0 30px rgba(12, 101, 197, 0.562);
  box-shadow: 0 0 30px rgba(12, 101, 197, 0.562);
}

.ig {
  width: 59px;
  height: 59px;
  margin: -387px 0 200px 1205px;
}

.ig:hover {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  -webkit-box-shadow: 0 0 30px rgba(188, 24, 136, 0.582);
  box-shadow: 0 0 30px rgba(188, 24, 136, 0.582);
}

.fb {
  width: 57px;
  height: 56px;
  margin: -285px 0 300px 1295px;
}

.fb:hover {
  background-color: rgb(12, 100, 197);
  -webkit-box-shadow: 0 0 30px rgba(12, 101, 197, 0.562);
  box-shadow: 0 0 30px rgba(12, 101, 197, 0.562);
  border-radius: 14px;
}

.twitter {
  width: 58px;
  height: 58px;
  margin: -383px 0 300px 1385px;
}

.twitter:hover {
  background-color: rgb(29, 161, 242);
  -webkit-box-shadow: 0 0 30px rgba(29, 160, 242, 0.562);
  box-shadow: 0 0 30px rgba(29, 160, 242, 0.562);
  border-radius: 25px;
  background-size: 100% 100%;
}

.top_button_div {
  text-align: center;
  margin-top: -100px;
}

.top_button {
  padding: 15px 18px;
  display: inline-block;
  margin-bottom: 50px;
}
